<div class="read-more">
  <div class="read-more-header">
    <a href="{{ site.owner.url }}" class="read-more-btn">About the Author</a>
  </div>
  <div class="read-more-content author-info">
    <h3>{{ site.owner.name }}</h3>
    <div class="author-container">
      <img src="{{ gravatar.owner }}?s=150" alt="{{ site.owner.name }}" class="author-img">
      <div class="author-bio">{{ site.owner.bio }}</div>
    </div>
    <div class="author-share">
      <ul class="list-inline social-buttons">
        {{#each site.owner.networks}}
        <li>
          <a href="{{ url }}" title="{{ name }}" target="_blank">
            <i class="fa fa-{{ icon }} fa-fw"></i>
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
