<div class="footer-wrapper">
  <footer class="contentinfo">
    <span>&copy; {{ current-year }} {{ site.owner.name }}. Powered by <a href="{{ site.generator.url}}" rel="nofollow">{{ site.generator.name}}</a> using the <a href="{{ site.theme.url }}" rel="nofollow">{{ site.theme.name }}</a>.</span>
  </footer>
</div>
