<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<title>{{#if title}}{{ title }} &#8211; {{/if}}{{ site.title }}</title>
<meta name="description" content="{{#if description}}{{ description }}{{else}}{{ site.description}}{{/if}}">
{{#if tags}}
<meta name="keywords" content="{{ join tags ', ' }}">
{{/if}}

<!-- Twitter Cards -->
{{#if site.owner.twitter}}
{{#if feature}}
<meta name="twitter:card" content="summary_large_image">
{{else}}
<meta name="twitter:card" content="summary">
{{/if}}
<meta name="twitter:site" content="@{{ site.owner.twitter }}">
<meta name="twitter:creator" content="@{{ site.owner.twitter }}">
{{/if}}

<!-- Open Graph -->
<meta name="og:locale" content="{{ site.locale }}">
<meta name="og:type" content="article">
<meta name="og:title" content="{{#if title}}{{ title }}{{else}}{{ site.title }}{{/if}}">
<meta name="og:description" content="{{#if description}}{{ description }}{{else}}{{ site.description}}{{/if}}">
<meta name="og:url" content="{{ site.url }}/{{path}}">
<meta name="og:site_name" content="{{ site.title }}">
{{#if feature}}
<meta name="og:image" content="{{ site.url }}/images/{{ feature.image }}">
{{else if thumb}}
<meta name="og:image" content="{{ site.url }}/images/{{ thumb }}">
{{else}}
<meta name="og:image" content="{{ site.url }}/images/{{ site.logo }}">
{{/if}}

<!-- TODO: Canonical URL -->

<!-- Stylesheets -->
<link rel="stylesheet" href="{{ site.url }}/stylesheets/vendor/font-awesome/font-awesome.css">
<link rel="stylesheet" href="{{ site.url }}/stylesheets/vendor/prism-duotone-space.css">
<link rel="stylesheet" href="{{ site.url }}/stylesheets/main.css">
<!-- Webfonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

{{> icons}}

{{#if (or background-image site.background-image)}}
<style>
  body {
    {{#if background-image}}
    background-image: url({{#unless (test background-image 'https?://')}}{{ site.url }}/images/{{/unless}}{{ background-image }});
    {{else}}
    background-image: url({{#unless (test site.background-image 'https?://')}}{{ site.url }}/images/{{/unless}}{{ site.background-image }});
    {{/if}}
  }
</style>
{{/if}}
