<div class="header-menu header-menu-top">
  <ul class="header-item-container">
    <li class="header-item-title header-toggle">
      <a href="#menu"><h2><i class="fa fa-bars"></i></h2></a>
    </li>
    <li class="header-item-title">
      <a href="{{ site.url }}/">
        {{#if site.logo}}
        <img src="{{ site.url }}/{{ site.logo }}" alt="{{ site.title }}" class="logo">
        {{/if}}
        <span class="title">{{ site.title }}</span>
      </a>
    </li>
    {{#each site.menu}}
    {{#if submenu}}
    <li class="header-item{{#if (or (and (equals url '/') (equals ../path 'index.html')) (equals url ../path))}} active{{/if}}">
      <a href="{{ ../site.url }}/{{ url }}">
        <h3>{{ title }}</h3>
      </a>
      <ul class="header-submenu">
        {{#each submenu}}
        {{#if (test url 'https?://')}}
        <li class="sub-item"><a href="{{ url }}">{{ title }}</a></li>
        {{else}}
        <li class="sub-item"><a href="{{../site.url }}/{{ url }}">{{ title }}</a></li>
        {{/if}}
        {{/each}}
      </ul>
    </li>
    {{else if (test url 'https?://')}}
    <li class="header-item">
      <a href="{{ url }}" target="_blank">
        <h3>{{ title }}</h3>
      </a>
    </li>
    {{else}}
    <li class="header-item{{#if (or (and (equals url '/') (equals ../path 'index.html')) (equals url ../path))}} active{{/if}}">
      <a href="{{ ../site.url }}{{ url }}">
        <h3>{{ title }}</h3>
      </a>
    </li>
    {{/if}}
    {{/each}}
    <li class="header-item">
      <a href="{{ site.url }}/search">
        <h3><i class="fa fa-search"></i></h3>
      </a>
    </li>
  </ul>
</div>
<div class="entry-header">
  <div class="header-title">
    <div class="header-title-wrap">
      <h1>{{ title }}</h1>
      {{#if date}}
      <h2>
        <span class="entry-date date published updated">
          <time datetime="{{ date-to-xmlschema date }}">{{ format date 'MMMM D, YYYY'}}</time>
        </span>
      </h2>
      {{else}}
      <h2><span class="entry-date"><time>&nbsp;</time></span></h2>
      {{/if}}
      {{#if (and site.reading_time date)}}
      <p class="entry-reading-time">
        <i class="fa fa-clock-o"></i>
        Reading time ~{{ readtime site.words_per_minute contents }}
      </p>
      {{else}}
      <p class="entry-reading-time">&nbsp;</p>
      {{/if}}
    </div>
  </div>
</div>
