---
layout: home.html
title: Welcome to the Neo-HPSTR Blog
description: Describe this nonsense.
paginate: posts
tags: [Metalsmith, theme, themes, responsive, blog, modern]
permalink: false
comments: false
---

{{#for collections.posts limit=pagination.end offset=pagination.start}}
<article class="entry">
  <header>
    {{#if feature}}
    <div class="entry-image-index">
      <a href="{{ ../site.url}}/{{ path }}" title="{{ title }}">
        <img src="{{ ../site.url }}/images/{{ feature.image }}" alt="{{ title }}">
      </a>
      {{#if feature.credit}}
      <div class="image-credit">
        Image source: <a href="{{ feature.credit.url }}" target="_blank">{{ feature.credit.name }}</a>
      </div>
      {{/if}}
    </div>
    {{/if}}
    <div class="entry-meta">
      <span class="entry-date date published updated">
        <time datetime="{{ date-to-xmlschema date }}">
          <a href="{{ ../site.url }}/{{ path }}">{{ format date 'MMMM D, YYYY' }}</a>
        </time>
      </span>
      <span class="author vcard">
        <span class="fn">
          <a href="{{ ../site.url }}/about/" title="About {{ ../site.owner.name }}">{{ ../site.owner.name }}</a>
        </span>
      </span>
      {{#if ../site.reading_time}}
      <span class="entry-reading-time">
        <i class="fa fa-clock-o"></i>
        Reading time ~{{ readtime ../site.words_per_minute contents }}
      </span>
      {{/if}}
    </div>
    {{#if link}}
    <h1 class="entry-title">
      <a href="{{ ../site.url }}/{{ path }}" class="permalink" rel="bookmark" title="{{ title }}">
        <i class="fa fa-bookmark"></i>
      </a>
      <a href="{{ link }}">{{ title }}</a>
    </h1>
    {{else}}
    <h1 class="entry-title">
      <a href="{{ ../site.url }}/{{ path }}" rel="bookmark" title="{{ title }}" itemprop="url">{{ title }}</a>
    </h1>
    {{/if}}
  </header>
  <div class="entry-content">
    {{{ excerpt }}}
    <div class="continue-reading">
      <div markdown="0">
        <a href="{{ ../site.url}}/{{ path }}" class="btn btn-info">Continue Reading ...</a>
      </div>
    </div>
  </div>
</article>
{{/for}}
